    <div class="container" ng-controller="ImageController as tumblethough">

      <div class="starter-template">
        <h1>Liked Images</h1>
        <p class="lead">This is a list of known active P2Pools, sorted by most recently seen.<br>
        <a href="http://p2pool.in/">P2Pool</a> is a decentralized peer to peer (P2P) mining pool, used for mining Bitcoin and other cryptocurrencies.
        </p>
      </div>

      <div class="container-fluid">

  <h2 class="sub-header">Active Pools</h2>
  <div id="gallery-wrap">
  <ul class="dynamic-grid" angular-grid="tumblethough.images" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="false" ag-infinite-scroll="tumblethough.loadMore()" ng-show='tumblethough.images.length > 0'>
     <li data-ng-repeat="image in tumblethough.images" class="grid" ng-show="image.photos.length > 0">
         <img src="{{image.photos[0].alt_sizes[2].url}}" class="grid-img" data-actual-width = "{{image.photos[0].alt_sizes[2].width}}"  data-actual-height="{{image.photos[0].alt_sizes[2].height}}" /><br>
         <span><a href="{{image.post_url}}">{{image.post_url}}</a></span>
     </li>
 </ul>
 </div>
 <br>

    </div><!-- /.container -->